<form method="post" action="/">
  <fieldset>
    <label for="name">Shit you should be doing:</label>
    <input type="text" name="name" id="name" placeholder="psst...type here!">
    <br>
    <label for="description">What does that shit mean?</label>
    <textarea rows="5" cols="20" name="description" id="description" placeholder="description goes here, genius"></textarea>
  </fieldset>
  <input class="button" type="submit" name="submit" value="Add to the pile">
</form>
