<h1>You're gonna get so much stuff done!</h1>

<form action="/" method="post">
  <fieldset>
    <legend>Add a Task!</legend>
    <label for="name">Task:</label>
    <input type="text" id="name" name="name"> 
    <label for="description">Notes:</label>
    <input type="text" id="description" name="description"> 
    <input id="submit" type="submit" value="Add to List">
  </fieldset>
</form>