<div>
  <h1>Task List</h1>
  <form method="post">
    <ul>
      <% @tasks.each do |task| %>
        <li>
          <label><input type="checkbox" name="completed[]" value="<%= task[0] %>" >Completed</label>
          <p>task: <%= task[1] %> description: <%= task[2] %> completed: <%= task[3] %></p>
        </li>
      <% end %>
      <input type="submit" name="submit" id="submit" value="Submit Change">
    </ul>
  </form>

  <a href="/">Back to Tasks</a>
</div>
