<div>
  <form method="post">
    <h1>Task List</h1>
      <table class="table table-hover">
        <tr>
          <th>
            completed
          </th>
          <th>
            task
          </th>
          <th>
            description
          </th>
          <th>
            completed
          </th>
        </tr>
        <% @tasks.each do |task| %>
        <tr>
          <td>
           <label><input type="checkbox" name="completed[]" value="<%= task[0] %>">completed</label>
          </td>
           <td>
             <div><%= task[1] %></div>
           </td>
           <td>
             <div><%= task[2] %></div>
           </td>
           <td>
             <div><%= task[3] %></div>
           </td>
         </tr>
        <% end %>
      </table>
    <input type="submit" name="submit" id="submit" value="Submit Change">
  </form>
  <a class="list-inline" href="/">Back to Tasks</a>
</div>
