<h2>Check the tasks you're sure you want to delete:</h2>
  <%= erb(:task_printout) %>
  <button class="btn" type="submit" name="submit" value="yes">Confirm Delete</button>
  <button class="btn" type="submit" name="submit" value="no">Cancel</button>
</form>
