<form for="delete" action="/delete" method="post">

<h2>Are you sure you want to delete <%= @to_delete %>?</h2>
<input type="hidden" name="task_name" value="<%= @to_delete %>">
<input class="button" type="submit" value="Clean it!" name="delete" id="delete">
<a href="/" class="button">Leave it!</a>
</form>
