<p>Are you sure you want to delete the following tasks:</p>
  <%= erb(:task_printout) %>
  <button type="submit" name="submit" value="yes">Yes, delete tasks</button>
  <button type="submit" name="submit" value="no">Oops I changed my mind</button>
</form>
