<div>
  <h1>Task List</h1>
  <form method="post">
    <ul>
      <% @tasks.each do |task| %>
        <li>
          <label><input type="checkbox" name="deleted[]" value="<%= task[0] %>" >Delete</label>
          <p>task: <%= task[1] %> description: <%= task[2] %> completed: <%= task[3] %></p>
        </li>
      <% end %>
      <input type="submit" onclick="return confirm('Are you sure?')" name="submit" value="Delete Task(s)">
    </ul>
  </form>
  <a href="/">Back to Tasks</a>

  <!-- #if posted asks for confirmation blahblah -->

</div>
