<html>
  <head>
    <link href="/css/christmas.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://38.media.tumblr.com/avatar_cf24d676af93_128.png">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gudea|Gloria+Hallelujah|Reenie+Beanie' rel='stylesheet' type='text/css'>
    <title>Edit a task!</title>
  </head>
  <body>

    <h1>Update Task</h1>

    <form method="post">
      <fieldset>
        <legend>Task information</legend>
        <label for="name">Task name:</label>
        <input class="input_box" type="text" id="name" name="name" value="<%= @name %>" required>

        <label for="description">Task description: </label>
        <input class="input_box" type="text" id="description" name="description" value="<%= @description %>">

        <label for="date_completed">Date completed: </label>
        <input class="input_box" type="date" id="date_completed" name="date_completed" value="<%= @date %>">

        <input type="submit" name="submit" id="submit" value="Update Task!" class="form_button">
      </fieldset>
    </form>
    <div class="pusheen">
      <img src="/sherlock.gif" alt="Sherlock" />
    </div>
  </body>
</html>
