<div>
  <h1>Task List</h1>
  <form class="modifiers" method="post" action="/task/:task/edit">
    <ul>
      <% @tasks.each do |task| %>
        <li>
          <p class="modifiers">task: <%= task[1] %> description: <%= task[2] %> completed: <%= task[3] %></p>
          <a href="/<%= task[1] %>">Edit</a>
        </li>
      <% end %>
    </ul>
  </form>

  <a href="./">Back to Tasks</a>
</div>
