<h1>Shit to get done</h1>

<div class="list">
  <% @tasks.each do |task| %>
    <div class="everything">
      <form action="#" method="post">
        <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
        <input class="button" type="submit" name="submit" value="Mark complete">
      </form>
      <div class="task-descr">
        <div class="task"><%= task[1] %></div>
        <div class="description"><%= task[2] %></div>
      </div>
        <%= task[3] %>
    </div>
  <% end %>
</div>



<div class="button">
  <a href= "/new">Create a new task</a>
</div>
