<div>
  <h1>Task List</h1>
    <table class="table table-hover">
      <tr>
        <th id="taskie">
          task
        </th>
        <th>
          description
        </th>
        <th>
          completed
        </th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
         <td>
           <% if !task[3].empty? %>
					 <img class="checkmark" src="checkmark3.png" alt="checkmark"/>
           <% else %>
					 <img class="nocheckmark" src="white.png" alt="no checkmark"/>
           <% end %>
          	<div><%= task[1] %></div>
         </td>
         <td>
          	<div><%= task[2] %></div>
         </td>
         <td>
          	<div><%= task[3] %></div>
         </td>
       </tr>
      <% end %>
    </table>

    <nav>
      <ul class="list-inline">
        <li><a class="btn btn-default" href="/task/new"><img class = "icon" src="edit.png">Add a task here</a></li>
        <li><a class="btn btn-default" href="/task/complete"><img class = "icon" src="beer.png">Complete a task here</a></li>
        <li><a class="btn btn-default" href="/task/delete"><img class = "icon" src="remove.png">Delete a task here</a></li>
        <li><a class="btn btn-default" href="/edit_choice"><img class = "icon" src="settings.png">Edit a task here</a></li>
      </ul>
    </nav
</div>
