<h1 class="text-center">Task List</h1>
  <%= erb(:task_printout) %>
  <button class="btn btn-primary btn-lg" type="submit" name="submit" value="delete">Delete Tasks</button>
  <button class="btn btn-primary btn-lg" type="submit" name="submit" value="complete">Mark Tasks as Complete</button>
  <button class="btn btn-primary btn-lg" type="submit" name="submit" value="edit">Edit task (one at a time)</button>
</form>

<p>
  <a class="btn btn-primary btn-lg" role="button" href="new">Add a new task</a>
</p>
