<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task List</title>
  </head>
  <body>
    <h1>Shit to get done</h1>
    <a href= "/new">Create a new task</a>

    <ul>
    <% @tasks.each do |task| %>
      <li><%= task[0] %> <%= task[1] %> </li>
    <% end %>
    </ul>
  </body>
</html>
