<div id="index">

<h1>Tasks</h1>

  <ul>
  <% if @tasks == nil %>
    <p>
       You haven't set any tasks.
    </p>
  <% else %>
    <% @tasks.each do |task| %>
      <li> <%= task[0] %> : <%= task[1] %></li>
      <a href="/delete/<%= task[0] %>">Delete Task</a>
    <% end %>
  <% end %>
   </ul>


<p id="add_task">
  <form action="new">
    <button type="submit" href="new" name="submit" id="submit" value="New Task">New Task</button>
  </form>
</p>

</div>
