<div>
  <h1>Task List</h1>
    <table class="table table-hover">
      <tr>
        <th>
          task
        </th>
        <th>
          description
        </th>
        <th>
          completed
        </th>
      </tr>
      <% @tasks.each do |task| %>
      <tr>
         <td>
           <% if !task[3].empty? %>
            <img class="checkmark" src="checkmark2.png" alt="checkmark"/>
           <% end %>
           <%= task[1] %>
         </td>
         <td>
          <%= task[2] %>
         </td>
         <td>
          <%= task[3] %>
         </td>
       </tr>
      <% end %>
    </table>

    <nav>
      <ul class="list-inline">
        <li><a class="btn btn-default" href="/task/new">Add a task here</a></li>
        <li><a class="btn btn-default" href="/task/complete">Complete a task here</a></li>
        <li><a class="btn btn-default" href="/task/delete">Delete a task here</a></li>
        <li><a class="btn btn-default" href="/edit_choice">Edit a task here</a></li>
      </ul>
    </nav
</div>
