<html>
  <head>
    <title>Task</title>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="main">
      <h1>to do list</h1>
      <a href="/newtask">add a new task</a>
      <!-- To be able to submit w/ button, use method=post -->
      <form method="post">
        <ul>
        <% @all_tasks.each do |task| %>
        <li><label><input class="check" type="checkbox" name="tasks[]" value="<%= task[0] %>"></label>
        <h3><%= task[0] %></h3><p><%= task[1] %><br>Completed on: <strong><%= task[2] %></strong></p>
        <% end %>
        </li>
        </ul>
        <input class="button" type="submit" name="submit_task" value="Update List">
      </form>
    </div>
  </body>

</html>
