<% require "pry" %>

<h2>Goddammit, you need to:</h2>
<form id="check_complete" action="/complete" method="post">
<table align="center">
  <thead>
    <tr>
      <th>
        Shit
      </th>
      <th>
        Done?
      </th>
    </tr>
  </thead>
  <tbody>
<% @tasks_info.each do |info| %>
  <tr>
    <% if info[1] == nil || info[1] == "" %>
      <td> <%= info[0] %>  </td>
    <% else %>
      <td><%= info[0] %> >> <%= info[1] %></td>
    <% end %>
    <% if info[2] == nil %>
      <td>
          <input type="checkbox" name="completed[]" value="nothing">
      </td>
    <% else %>
      <td><%= info[2] %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
</form>

<a href="/add_task" class="button">got more shit to do?</a>

<input class="button" type="submit" value="complete!" form="check_complete">
