<div>
  <h1>Task List</h1>
    <ul>
      <% @tasks.each do |task| %>
        <li>
          task: <%= task[1] %> description: <%= task[2] %> completed: <%= task[3] %>
        </li>
      <% end %>
    </ul>

    <nav>
      <ul>
        <li><a href="./new">Add a task here</a></li>
        <li><a href="./modify">Complete a task here</a></li>
        <li><a href="./delete">Delete a task here</a></li>
        <li><a href="./edit_choice">Edit a task here</a></li>
      </ul>
    </nav

</div>
