<h1>MY TASKS</h1>

<a href="/newtask">Add a new task</a>

<ul>
  <% @all_tasks.each do |task| %>
  <li><h3><%= task[0] %></h3><p><%= task[1] %><br>Completed on: <strong><%= task[2] %></strong></p></li>
  <% end %>
</ul>
