<h2>Goddammit, you need to:</h2>
<ul>
<% @tasks.each do |task| %>
  <li>
    <% if task[1] == "Type here, genius" || task[1] == nil || task[1] == "" %>
      <%= task[0] %>
    <% else %>
     <%= task[0] %>: <%= task[1] %>
    <% end %>
  </li>
  <% end %>
</ul>

<a href="/add_task" class="button">got more shit to do?</a>
