<h1>Task List</h1>
  <%= erb(:task_printout) %>
  <button type="submit" name="submit" value="delete">Delete Tasks</button>
  <button type="submit" name="submit" value="complete">Mark Tasks as Complete</button>
</form>

<p>
  <a href="new">Add a new task</a>
</p>
