<div>
  <h1>Task List</h1>
    <table>
      <tr>
        <th>
          task
        </th>
        <th>
          description
        </th>
        <th>
          completed
        </th>
      </tr>
      <% @tasks.each do |task| %>
      <tr>
         <td>
          <%= task[1] %>
         </td>
         <td>
          <%= task[2] %>
         </td>
         <td>
          <%= task[3] %>
         </td>
       </tr>
      <% end %>
    </table>

    <nav>
      <ul>
        <li><a href="/task/new">Add a task here</a></li>
        <li><a href="/task/complete">Complete a task here</a></li>
        <li><a href="/task/delete">Delete a task here</a></li>
        <li><a href="/edit_choice">Edit a task here</a></li>
      </ul>
    </nav
</div>
