<div class="row">
  <h1 class="text-center">Task List</h1>
</div>
  <%= erb(:task_printout) %>
  <div class="centered-btn">
    <button class="btn btn-lg" type="submit" name="submit" value="delete">Delete Tasks</button>
    <button class="btn btn-lg" type="submit" name="submit" value="complete">Complete Tasks</button>
    <button class="btn btn-lg" type="submit" name="submit" value="edit">Edit a task</button>
    <a class="btn btn-lg" role="button" href="new">Add a new task</a>
  </div>
</form>
