<!DOCTYPE html>
<html lang="en">
<!--   <div id="wrap"> -->
    <head>
      <meta charset="UTF-8">
      <title>Document</title>
      <link href="css/main.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <%= yield %>
    </body>
<!--   </div> -->
</html>
