<!doctype html>
<html lang="en">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <link href="site.css" rel="stylesheet">
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/mark_complete">Complete Tasks</a>
      <a href="/new">Add Task</a>
    </nav>
    <hr />
    <%= yield %>
  </body>
</html>
