<h1><%= @title %></h1>

<div class="new-task"><a href= "/">RETURN TO TASK LIST</a></div>

<hr />

<div class="task-box">
  <form id="task_list" action="/" method="post">
    <p>
      <label for="name">Task Name:</label>
      <input class="input-task" type="text" name="name" value="<%= @name %>" >
    </p>
    <p>
      <label for "descr">Description:</label>
      <textarea class="input-descr" cols="30" rows="10" name="descr" value="<%= @descr %>"></textarea>
    </p>
      <input id="submit-task" type="submit" name="submit" value="Submit">

      <input type="hidden" name="id" value="<%= @id %>">
  </form>
</div>
