<h1 class="text-center">Add a task</h1>

<form method="post">
  <div class="form-group">
    <fieldset>
      <label for="task_name">Task: </label>
      <input class="form-control" type="text" id="task_name" name="task_name">
      <br>
      <label for="description">Description: </label>
      <input class="form-control" type="text" id="description" name="description">
      <br>
      <button class="btn" type="submit">Submit</button>
    </fieldset>
  </div>
</form>
