<form method="post">
  <fieldset>
    <legend>Task Information</legend>
    <label class="form" id="name_label" for="name">Task name: </label>
    <input class="form" type="text" id="name" name="name">

    <label class="form" id="name_label" for="description">Task description: </label>
    <input class="form" type="text" id="description" name="description">
    <% if @is_update1 %>
      <button class="form" type="submit" name="submit" id="submit" value="New Task">Updtae Task</button>
    <% else %>
      <button class="form" type="submit" name="submit" id="submit" value="New Task">New Task</button>
    <% end %>
  </fieldset>
</form>
