<h1>Enter your shit</h1>

<div class="task-box">
  <form id="task_list" action="/" method="post">
    <p>
      <label for="name">Task Name:</label>
      <input class="input-task" type="text" name="name">
    </p>
    <p>
      <label for "descr">Description:</label>
      <input class="input-descr" type="text" name="descr">
    </p>
      <input class="button" type="submit" name="submit" value="Submit">
  </form>
</div>
