<form method=post >
  <fieldset>
    <legend> Add a task</legend>
    <label for="task">Task name: </label>
    <input type="text" id="task" name="task">
    <label for= "description">Description:</label>
    <input type= "text" id = "description" name = "description">
    <input type="submit" name="submit" id="submit" value="Create Task">
  </fieldset>
</form>
