<form method="post">
  <fieldset>
    <legend>Task Information</legend>
    <label for="name">Task Name:</label>
    <input type="text" id="name" name="name">
    <label for="description">Task Description:</label>
    <input type="text" id="description" name="description">
    <br>
    <input type="submit" id="submit" name="submit" value="Submit Task">
  </fieldset>
</form>
<a href="/">View Tasks</a>
