<div>
  <form method="POST">
    <fieldset>
      <legend>Add Task</legend>
      <div>
        <label for="task">task</label>
        <input type="text" id="task" name="task">
      </div>
      <div>
        <label for="description">description</label>
        <input type="text" id="description" name="description">
      </div>
      <div>
        <label for="date">date completed</label>
        <input type="text" id="date" name="date">
    </div>
    </fieldset>
    <input type="submit" name="submit" id="submit" value="Submit Task!">
  </form>

  <a class="list-inline" href="/">Back to Tasks</a>
</div>
