<form id="task-form" method="post">
  <fieldset>
  <legend> Enter Task Here: </legend>
  <label for="taskname"> Task: </label>
  <input type="text" id="taskname" name="taskname">

  <p>
    <label for ="description"> Describe Task: </label>
    <textarea rows="10" cols="50" name="description" id="description"></textarea>
  </p>

  <p>
    <label for ="date"> Date Completed: </label>
    <input type="date" id="date" name="date">
  </p>
</fieldset>
</form>
