@import url('https://fonts.googleapis.com/css?family=Playfair Display|Open Sans');

body {
  margin: 0 auto;
  text-align: center;
}

div {
  padding: 10px;
}

#task {
  padding-left: 70px;
}

.checkmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.nocheckmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.checkmarkrow {
  line-height: 100px;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.checkmarkrow > *, {
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
  height: 100%;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 5px
}

.taskname {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 180px;
}

h1 {
  font-family: Playfair Display;
  font-size: 1.4cm;
  font-weight: normal;
  padding-top: 40px;
  margin-bottom: 40px;
}

h3 {
  font-family: Playfair Display;
  font-size: 0.8cm;
  font-weight: normal;
}

table {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

th {
  width: 30%;
  font-size: 0.5cm;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/*td {
  padding-top: 10px;
  padding-bottom: 10px;
}*/

label {
  text-align: left;
  display: inline;
  margin: 0 auto;
}

ul {
  font-family: Open Sans;
  font-size: normal;
  padding: 20px;
  list-style-type: none;
}

ul li{
  text-align: left;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: Open Sans;
  font-size: 0.40cm;
}

a:visited {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
