@import url('https://fonts.googleapis.com/css?family=Playfair Display|Open Sans');

#add_task {
  font-family: Playfair Display;
  font-size: 1cm;
  font-weight: normal;
}

body {
  margin: 0 auto;
  text-align: center;
}

.check {
  width: 1;
  height: initial;
}

div {
  padding: 10px;
}

form {
  padding-bottom: 50px;
}

#taskie {
  padding-left: 70px;
}

.checkmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.nocheckmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

td {
  display: inline-block;
}

td > *, {
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
  height: 100%;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 5px
}

td div {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
}

h1 {
  font-family: Playfair Display;
  font-size: 1.4cm;
  font-weight: normal;
  padding-top: 40px;
  margin-bottom: 40px;
}

h3 {
  font-family: Playfair Display;
  font-size: 0.8cm;
  font-weight: normal;
}


fieldset div {
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
  height: 20%;
}


input {
  margin-top: 25px;
}

table {
  text-align: center;
  margin: 0 auto;
}

tbody {
  padding-bottom: 50px;
}

th {
  width: 30%;
  font-size: 0.5cm;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


label {
  text-align: left;
  margin: 0 auto;
  display:block;
  height: 2px;
  font-weight: bold;
  font-size: 16;
}


ul {
  font-family: Open Sans;
  font-size: normal;
  padding: 20px;
  list-style-type: none;
}

ul li{
  text-align: left;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: Open Sans;
  font-size: 0.40cm;
}

a:visited {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
