body {
  font-family: 'Open Sans', sans-serif;
}

.new-task {
  margin: auto;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: #747070;
  text-align: center;
  width: 700px;
  padding: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  margin:auto;
  text-align: center;
  color: #009999;
}

a:hover { color: #747070}

.task-box {
  margin: auto;
  width: 300px;
}

.button {
  background-color: #009999;
  color: white;
  width: 130px;
  height: 40px;
  margin: auto;
  font-size: 14px;
  /*border-radius: 10px 10px 10px 10px;*/
  /*-moz-border-radius: 10px 10px 10px 10px;*/
  -webkit-border-radius: 10px 10px 10px 10px;
  line-height: 40px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Didot;
}

.input-task {
  width: 300px;
}

.input-descr {
  width: 300px;
  height: 100px;
  padding-top: 0;
  padding-left: 0;
}

.list {
  margin: auto;
  width: 300px;
  /*padding-top: 20px;*/
}

.task {
  font-weight: bolder;
}

.checkbox {
  float: left;
  margin-top: 5px;
}

.task-descr {
  margin-left: 30px;
  margin-top: 20px;
}

.everything {
  display: block;
  float: none;
}

.completed {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.date {
  padding-left: 30px;
  font-size: 10px;
}

/*button for completed task submit*/
.mark-complete {
  margin-left: 10px;
}

.done {
  color: #666666;
  text-decoration: line-through;
}

#submit-task {
  background-color: #009999;
  color: white;
  width: 70px;
  height: 30px;
  margin: auto;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 10px 10px;
  text-align: center;
  padding-bottom: 3px;
}
