.task-box {
  margin: auto;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}

form {
  font-family: 'Open Sans', sans-serif;
}

.button {
  background-color: #009999;
  color: white;
  width: 100;
  height: 40px;
  margin: auto;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

h1 {
  text-align: center;
  font-family: Didot;
}

.input-task {
  width: 300px;
}

.input-descr {
  width: 300px;
  height: 100px;
}

.list {
  margin: auto;
  width: 300px;
}

.task {
  font-weight: bolder;
}

.description {
  margin-bottom: 15px;
}

.checkbox {
  float: left;
}

.task-descr {
  float: left;
}
