body{
    background-color: #7A0673;
    color: #F7E6F6;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
}
a{
  color: #E6F7F2;
}
h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}
img{
  	width: 275px;
}
.todo{
  vertical-align: middle;
  text-align: left;
  margin: 0
}
