@import url('https://fonts.googleapis.com/css?family=Gloria Hallelujah|sans-serif');

* {
  font-family: Gloria Hallelujah, sans-serif;
  color: #1E1902;
  text-align: center;
}

header, footer {
  border-width: 5;
  border-style: dotted;
  border-color: #875424;
  background-color: #888855;
}

footer {
  margin-top: 20;
}

section {
  background-color: #887F55;
}

body {
  background-color: #887F55;
  width: 600;
}

.button {
	background-color:#888855;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:3px solid #875424;
	display:inline-block;
	cursor:pointer;
  color: #1E1902;
  font-size:17px;
	padding:6px 10px;
	text-decoration:none;
}

.button:hover {
	background-color:#6F7F4F;
}

ul {
  list-style-image: none;
}
